.form-site h1
{
    text-align: center;
    margin-bottom: 1cm;
}

.form-site input
{
    background-color: blue;
}

.form-site button
{
    margin-left: 0;
    margin-right: 1cm;
    background-color: orange;
}
