#authorstitle {
    text-align: center;
    margin-bottom: 1cm;
}
#list {
    border-style: solid;
    font-weight: bold;
}
#imagestitle {
    text-align: center;
    margin-bottom: 1cm;
}
img {
    width: 200px;
    height: 200px;
    gap: 1cm;
    border-style: solid;
}
menu {
    text-align: center;
}
#maintitle {
    text-align: center;
    color: green;
}
#maintext {
    width: 100%;
    text-align: justify;
    margin-top: 1cm;
    margin-bottom: 1cm;
}
#flexcontainer {
    display: flex;

}
@media (max-width: 800px){
#flexcontainer
{
 flex-direction: column;   
}
}
.linkcolor:hover{
    background-color: blue;
}
.form-site h1
.data-h1
{
    text-align: center;
    margin-bottom: 1cm;
}

.form-site input
{
    background-color: blue;
}

.form-site button
{
    margin-left: 0;
    margin-right: 1cm;
    background-color: orange;
.data-table, .data-table td, .data-table th
{
    border: 1px solid;
    border-collapse: collapse;
}
.data-table th
{
    background-color: black;
    color: white;
}
